<h2><%= trap_id %></h2>
<div id='requests'>
  <% requests.each do |request_obj| %>
    <%= render :partial => 'request', locals: { request_obj: request_obj } %>
  <% end %>
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
    var trapId = '<%= trap_id %>';
    var eventSourcePath = '/monitor_requests/' + trapId;
    var source = new EventSource(eventSourcePath);
    source.addEventListener('update',function(e){
      $('#requests').prepend(e.data);
      var showRespEl = $('.request').first().find('a.show-response').first();
      rawRespToggle(showRespEl);
    },false);
  });
</script>
